<ion-header>
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start">
          <ion-button (click)="back()">
            <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
            <h4 style="color: black" class="sanseriflf demibold">
              Select City
            </h4>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-header>
<!-- <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="search($event)"></ion-searchbar> -->
<ion-content>

  <div *ngIf="loading" class="loadingcart ion-text-center">
    <ion-spinner></ion-spinner>
    <p>Loading Cities..</p>
  </div>

  <ion-list class="selectlistitem">
    <ion-item *ngFor="let item of cities" (click)="selectCity(item)">
      {{ item.name }}
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>