<ion-header>
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()">
            <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
          </ion-button>
          <h4 style="color: black;" class="sanseriflf demibold">Transactions Details</h4>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="bn765">
    <div class="menu-list-items-outer">
      <div class="menu-list-item" *ngFor="let item of OrderDetails?.order_items">
        <div class="c123">
          <div>
            <div class="image-outer-box" [style.background]="'url(' + getItemImage() + ')'"></div>
          </div>
          <div class="text-box-outer">
            <div class="text-box-inner">
              <div class="name sanseriflf demibold">
                {{item?.park?.name}}
              </div>
              <div class="price-line-544">
                <div class="con1">
                  <div class="pl-box-255 sanseriflf" style="color: green;">Plot: {{item?.park?.address}}</div>
                </div>
                <div class="pl-box-256 sanseriflf demibold">/day</div>
                <div class="pl-box-256  "
                  style="margin-top:5px;display: flex;justify-content: baseline; width: 100px; color:green"><img
                    src="assets/images/locationIcon.png" alt="" height="10" width="8"> &nbsp;
                  <div style="margin-left: 4px;">
                    {{item?.park?.city}}
                  </div>,
                  <div style="margin-left: 4px;">
                    {{item?.park?.country}}
                  </div>
                </div>
              </div>
            </div>
            <div class="quantity-outer">
              <img src="assets/icons/Icon material-delete.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="checkout">
      <div class="checkout-price-main">
        <h1>Payment</h1>
        <div class="paymentContainer">
          <div class="payment">
            <span class="paymentKey sanseriflf demibold">PRICE</span>
            <span class="paymenyValue sanseriflf demibold">$ {{OrderDetails?.total_amount}}</span>
          </div>
          <!-- <div class="payment">
            <span class="paymentKey sanseriflf demibold">FEES</span>
            <span class="paymenyValue">$ {{fee}}</span>
          </div> -->
          <!-- <div class="payment">
            <span class="paymentKey sanseriflf demibold">TOTAL </span>
            <span class="paymenyValue">$ {{net_total}}</span>
          </div> -->
        </div>
      </div>

    </div>
  </div>

</ion-content>