<ion-content>
  <div class="content-outer">
    <div class="heading-box">
      <h4 class="heading-875 sanseriflf demibold">User Profile</h4>
      <div class="ion-item-box">
        <ion-avatar class="ion-margin-top">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <div class="text-box">
          <div class="text-box-inner">
            <h2 class="sanseriflf demibold" style="font-size: 20px">
              {{userData?.name}}
            </h2>
            <p class="poppins">{{userData?.email}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="line-up-box-list">
      <div class="line-up-box-item" (click)="openOrderHistory()">
        <div class="first-section">
          <img src="assets/images/order_history.png" />
          <h2 class="sanseriflf demibold">Owner History</h2>
        </div>
        <div class="second-section">
          <img src="assets/images/right_green.png" />
        </div>
      </div>
      <div class="line-up-box-item" (click)="editProfile()">
        <div class="first-section">
          <img src="assets/images/profile_icon.png" />
          <h2 class="sanseriflf demibold">Edit Profile</h2>
        </div>
        <div class="second-section">
          <img src="assets/images/right_green.png" />
        </div>
      </div>
      <div class="line-up-box-item" (click)="gotoNotiFication()">
        <div class="first-section">
          <img src="assets/images/notification_bell.png" />
          <h2 class="sanseriflf demibold">Notification</h2>
        </div>
        <div class="second-section">
          <img src="assets/images/right_green.png" />
        </div>
      </div>
      <div class="line-up-box-item" (click)="deleteMyAccount()">
        <div class="first-section">
          <img src="assets/images/profile_icon.png" />
          <h2 class="sanseriflf demibold" style="color: red">
            DELETE MY ACCOUNT
          </h2>
        </div>
        <div class="second-section">
          <img src="assets/images/right_green.png" />
        </div>
      </div>
      <div class="extra-height"></div>
      <div class="line-up-box-item"></div>
      <div class="line-up-box-item"></div>
    </div>
  </div>
  <div class="logout" (click)="logout()">
    <div class="logout-section-1">
      <img src="assets/images/logout_icon.png" />
      <h2 class="sanseriflf demibold">Log Out</h2>
    </div>
    <div class="second-section">
      <img src="assets/images/right.png" />
    </div>
  </div>
</ion-content>
