<ion-header [class.curve-header]="true">
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start" (click)="back()">
          <ion-button>
            <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h4 style="color: black" class="sanseriflf demibold">
          Chats
        </h4>
      </div>
      <!-- <div class="main-icon-outer"></div> -->
      <!-- <div class="combined-icons">
        <div class="bell-icon-outer">
          <img src="assets/images/notification.png" />
        </div>
      </div> -->
    </div>
  </div>
</ion-header>
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-list>
    <ion-item *ngFor="let item of messages" (click)="goToChatRoom(item)">
      <ion-label>
        <h2>{{item.participant.name}}</h2>
        <p>{{item?.last_message?.content}} - {{item?.last_message?.created_at | date: 'shortDate'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
