<ion-header class="ion-padding">
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start">
          <ion-button (click)="back()">
            <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
            <h4 style="color: black" class="sanseriflf demibold">
              {{ title }}
            </h4>
          </ion-button>
        </ion-buttons>
        <h6 style="color: #167206" (click)="submit()">Done</h6>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="addForm" *ngIf="tag == 'add'">
    <div class="round-box inputs">
      <ion-input [(ngModel)]="name" name="name" placeholder="Name"> </ion-input>
    </div>
    <div class="round-box inputs">
      <ion-input
        [(ngModel)]="description"
        name="description"
        placeholder="Description"
      >
      </ion-input>
    </div>
  </div>
  <div class="editForm" *ngIf="tag == 'edit'">
    <div class="round-box inputs">
      <ion-input [(ngModel)]="item.name" name="name" placeholder="Name">
      </ion-input>
    </div>
    <div class="round-box inputs">
      <ion-input
        [(ngModel)]="item.description"
        name="description"
        placeholder="Description"
      >
      </ion-input>
    </div>
  </div>
  <!-- <form [formGroup]="aForm">
    <app-icon-input-box
      [placeholder]="'Name'"
      [value]="this.aForm.controls['name'].value"
    >
    </app-icon-input-box>
    <br />
    <app-icon-input-box
      [placeholder]="'Description'"
      [value]="this.aForm.controls['description'].value"
    >
    </app-icon-input-box>
    <ion-button (click)="submit()">done</ion-button>
  </form> -->
</ion-content>
