<ion-header>
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start" (click)="back()">
          <ion-button>
            <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h4 style="color: black" class="sanseriflf demibold">Notifications</h4>
      </div>
      <!-- <div class="main-icon-outer"></div> -->
      <div class="combined-icons">
        <div class="bell-icon-outer">
          <img src="assets/images/notification.png" />
        </div>
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div *ngIf="loading" class="ion-text-center">
    <ion-spinner></ion-spinner>
  </div>

  
  <ion-list>
    <ion-item *ngIf="list.length == 0">
      <ion-label>
        <h2>No Notifications</h2>
        <p>You will notify here for any activity on spots</p>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let item of list">
      <ion-label>
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-list *ngIf="!loading">
    <ion-item *ngFor="let item of list">
    <ion-item *ngFor="let item of [1,2,4,5,6,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7]">


          <ion-label>User</ion-label>
          <ion-text> This is my message </ion-text>

         <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>

    </ion-item>
  </ion-list> -->

</ion-content>
