.logo-col {
  margin-top: 56px;
}

.b-header-output {
  display: block;
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
