<ion-header>
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()">
            <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h4 class="sanseriflf demibold payment" style="color: black;">Payment</h4>
      </div>
      <div class="main-icon-outer"></div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="pmt-outer">
    <div class="options-outer">
      <div class="option-654">
        <ion-button
          shape="round"
          class=""
          class="cash sanseriflf demibold"
          size="large"
          [color]="activePaymentOption == 2 ? 'primary' : 'light'"
          >Stripe</ion-button
        >
      </div>
      <div class="option-654">
        <ion-button
          shape="round"
          class=""
          class="cash sanseriflf demibold"
          size="large"
          [color]="activePaymentOption == 3 ? 'primary' : 'light'"
          >Square</ion-button
        >
      </div>
    </div>
    <div class="credit-card-container">
      <img src="../../../../assets/images/icons/credit-card.svg" />
    </div>
    <div class="payment-methods">
      <div class="heading">
        <h1 class="sanseriflf demibold" style="font-size: 20px">Payment Methods</h1>
      </div>
      <!-- <div class="card-name-container" style="margin-top: 28px">
        <span class="sub-div1">Name on card</span>
        <input type="text" [(ngModel)]="name_on_card" class="sub-div2 sanseriflf demibold">
      </div> -->
      <div class="card-name-container" style="margin-top: 28px">
        <span class="sub-div1">Card Number</span>
        <input type="number" [(ngModel)]="card.number" class="sub-div2 sanseriflf demibold">
      </div>
      <div class="expire-cvv" style="margin-top: 28px">
        <div class="card-name-container" style="width: 50%">
          <span class="sub-div1">Expire Month</span>
          <input type="number" [(ngModel)]="card.expMonth" class="sub-div2 sanseriflf demibold">
        </div>
        <div class="card-name-container" style="width: 50%">
          <span class="sub-div1">Expire Year</span>
          <input type="number" [(ngModel)]="card.expYear" class="sub-div2 sanseriflf demibold">
        </div>
      </div>
      <div class="card-name-container" style="width: 35%; margin-top: 16px">
        <span class="sub-div1">CVV</span>
        <input type="number" [(ngModel)]="card.cvc" class="sub-div2 sanseriflf demibold">
      </div>
    </div>

    <!-- add a comment here  -->

      <ion-button (click)="checkCardWIthStripe()" shape="round" expand="block" class="checkout-button" [disabled]="loading">
        PAY NOW
      </ion-button>
      <p style="margin-bottom: 100px;">No real charges made in development</p>

  </div>
</ion-content>
