<ion-header>
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start" (click)="back()">
          <ion-button>
            <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h4 style="color: black; margin-top: 26px" class="sanseriflf demibold">
          Add Spots
        </h4>
      </div>
      <!-- <div class="main-icon-outer"></div> -->
    </div>
  </div>
</ion-header>
<ion-content class="ion-padding">
  <div class="round-box inputs">
    <ion-input [(ngModel)]="spot_name" name="spot_name" placeholder="Spot Name">
    </ion-input>
  </div>
  <div class="round-box inputs">
    <ion-input
      name="price"
      [(ngModel)]="spot_price"
      placeholder="Price"
      type="number"
    >
    </ion-input>
  </div>
  <!-- <div class="round-box inputs">
    <ion-select placeholder="Select Type" [(ngModel)]="ctype" (ionChange)="ctyleChange($event)">
      <ion-select-option value="daily">Daily</ion-select-option>
      <ion-select-option value="weekly">Weekly</ion-select-option>
      <ion-select-option value="monthly">Monthly</ion-select-option>
    </ion-select> -->
  <!-- <ion-select
      [(ngModel)]="spot_name"      
      name="spot_name"
      placeholder="Spot Name">
      </ion-input> -->
  <!-- </div> -->

  <ion-calendar
    *ngIf="expression"
    [(ngModel)]="dateRange"
    [options]="optionsRange"
    [type]="'moment'"
    (change)="getSetDates($event)"
    [format]="'YYYY-MM-DD'"
  >
  </ion-calendar>
  <div class="most-input-outer-date">
    <h6 class="head">Start Date</h6>
    <div class="round-box">
      <ion-list class="date">
        <ion-input
          type="text"
          id="start"
          name="Start_date"
          [(ngModel)]="start_Date"
          placeholder="Start-Date"
        ></ion-input>
      </ion-list>
    </div>
  </div>
  <div class="most-input-outer-date2">
    <h6 class="head">End Date</h6>
    <div class="round-box">
      <ion-list class="date">
        <ion-input
          type="text"
          id="start"
          name="end_date"
          [(ngModel)]="end_date"
          placeholder="End-Date"
        ></ion-input>
      </ion-list>
    </div>
  </div>
  <!-- <h6 class="head">Packages*</h6> -->
  <!-- <div *ngIf="daily"> -->
  <!-- <h6 class="head">Daily</h6> -->
  <!-- <h6 class="head">{{daily}}</h6> -->
  <!-- <div class="most-input-outer" style="margin-top: -10px">
      <div class="round-box">
        <div class="center-input-box">
          <input type="number" class="cinput poppins" [(ngModel)]="daily"
            name="daily" placeholder="Daily Price" />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="weeklyPackage">
    <h6 class="head">Weekly</h6>
    <h6 class="head">{{daily}} - {{weekly}}</h6> -->
  <!-- <div class="most-input-outer">
      <div class="round-box">
        <div class="center-input-box">
          <input type="number" class="cinput poppins" [(ngModel)]="weekly"
            name="Weekly" placeholder="Weekly Price" />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="monthlyPackage">
    <h6 class="head">Monthly</h6>

    <h6 class="head">{{daily}} - {{weekly}}</h6> -->
  <!-- <div class="most-input-outer">
      <div class="round-box">
        <div class="center-input-box">
          <input type="number" class="cinput poppins" [(ngModel)]="monthly"
            name="Monthly" placeholder="Monthly Price" />
        </div>
      </div>
    </div>
  </div>  -->
  <!-- <div class="round-box">
  <ion-select (ionChange)="availabilityChange($event)"
  formControlName="availability"
  placeholder="Select availability">
  <ion-select-option value="0">0</ion-select-option>
  <ion-select-option value="1">1</ion-select-option>
</ion-select>
</div> -->
  <!-- <div class="round-box" (click)="toggleDate()">
    <div class="select-box">
    <div class="selectDate">
      <p class="poppins">Select Availability</p>
      <ion-icon
        name="caret-down-outline"
        style="margin-right: 5px; height: 10px; width: 10px; color: #9e9e9e"
      ></ion-icon>
    </div>

  </div>
  </div> -->
  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end"> -->
  <!-- <ion-button  width=""> ADD </ion-button> -->
  <ion-button
    expand="block"
    shape="round"
    class="sanseriflf demibold"
    (click)="addLocation()"
    >ADD</ion-button
  >
  <!-- </ion-fab> -->
  <!-- </form> -->
</ion-content>
