ion-content {
  overflow: hidden;
}

#map_canvas {
  height: 100vh;
  width: 100vw;
}
#map {
  height: 100%;
}
.b-header-output {
  display: block;
  width: 100%;
  margin-top: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  // background-color: #004d22;
}
.menu-icon-outer {
  position: relative;
  //   width: 50px;
  // height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .menu76 {
    margin-right: 16px;
  }
}
.menu-icon-outer h4 {
  color: white;
  margin-top: 10px;
  font-size: 22px;
}
.round-box {
  width: 100%;
  height: 50px;
  border: 1px solid #f1f1f1;
  border-radius: 25px;
  background: #ffffff;
  filter: drop-shadow(0px 2px 1px rgba(241, 241, 241, 1));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  padding: 0 20px;
  margin-top: 20px;
  .center-input-box {
    height: 50px;
    width: calc(100% - 100px);
    position: relative;
    .select {
      background: transparent;
      border: none;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      left: 0;
      width: 100px;
      // border-radius: 10px;
      // height: 30px;
      // width: 100%;
      // border: 1px solid red;
    }
  }
}
.inputs {
  margin-top: 15px;
}
ion-select {
  width: 100%;
  font-family: "poppins";
  font-size: 14px;
  // color: ;
  padding: 1px 2px;
  --color: red;
  --placeholder-color: gray;
  // opacity: 100 !important;
  ion-select-option {
    --color: red;
  }
}
ion-button {
  margin-top: 20px;
}
.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.select-box p {
  font-size: 18px;
}

.selectDate {
  width: 100% !important;
  height: 100%;
  border: 1px solid red;
  // padding: 0 5px 0 5px ;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-radius: 16px;
  border: none;
  // box-shadow:0px 0px 10px rgba(0,0,0,0.3);
}

.selectDate p {
  font-size: 14px;
  color: #9e9e9e;
}
.head {
  margin-left: 25px;
}
.date{
  width: 100%;
}
.most-input-outer {
  display: block;
  width: 100%;
  height: 50px;
  ion-select {
    width: 100%;
    font-family: "poppins";
    font-size: 14px;
    // color: ;
    padding: 1px 2px;
    --color: red;
    --placeholder-color: gray;
    // opacity: 100 !important;
    ion-select-option {
      --color: red;
    }
  }
  .round-box {
    width: 100%;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    background: #ffffff;
    filter: drop-shadow(0px 2px 1px rgba(241, 241, 241, 1));

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0 20px;
  }
  .left-icon-box {
    height: 50px;
    width: 25px;
    // background: blue;
    position: relative;
    .licon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 20px;
    }
  }
  .center-input-box {
    height: 50px;
    display: flex;
    width: 100%;
    position: relative;

    .cinput {
      background: transparent;
      border: none;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      left: 0;
    }
    .dinput {
      background: gainsboro;
      border: none;
      width: 75px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      left: 31vh;
    }
  }

  .right-icon-box {
    height: 50px;
    width: 50px;
    position: relative;
    .ricon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 22px;
    }
  }

  .b-header-output {
    display: block;
    margin-top: 20px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    // background-color: #004d22;
  }
  .menu-icon-outer h4 {
    color: white;
    margin-top: 10px;
    font-size: 22px;
  }
  .main-menu-img {
    padding: 5px;
  }
  .main-menu-img img {
    padding: 15px;
  }
  .main-menu-img h5 {
    font-weight: 700 !important;
  }
  .b-header-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    // height: 50px;
    justify-content: space-between;
    padding: 16px 16px;
    align-items: center;
    // background-color: #9E9E9E;
  }
}
.most-input-outer-date {
  display: block;
  width: 49%;
  height: 50px;
  ion-select {
    width: 100%;
    font-family: "poppins";
    font-size: 14px;
    // color: ;
    // padding: 1px 2px;
    --color: red;
    --placeholder-color: gray;
    // opacity: 100 !important;
    ion-select-option {
      --color: red;
    }
  }
  .round-box {
    width: 100%;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    background: #ffffff;
    filter: drop-shadow(0px 2px 1px rgba(241, 241, 241, 1));

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0 20px;
  }
  .left-icon-box {
    height: 50px;
    width: 25px;
    // background: blue;
    position: relative;
    .licon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 20px;
    }
  }
  .center-input-box {
    height: 50px;
    display: flex;
    width: 100%;
    position: relative;

    .cinput {
      background: transparent;
      border: none;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      left: 0;
    }
    .dinput {
      background: gainsboro;
      border: none;
      width: 75px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      left: 31vh;
    }
  }

  .right-icon-box {
    height: 50px;
    width: 50px;
    position: relative;
    .ricon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 22px;
    }
  }

  .b-header-output {
    display: block;
    width: 100%;
    margin-top: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    // background-color: #004d22;
  }
  .menu-icon-outer h4 {
    color: white;
    margin-top: 10px;
    font-size: 22px;
  }
  .main-menu-img {
    padding: 5px;
  }
  .main-menu-img img {
    padding: 15px;
  }
  .main-menu-img h5 {
    font-weight: 700 !important;
  }
  .b-header-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    // height: 50px;
    justify-content: space-between;
    padding: 16px 16px;
    align-items: center;
    // background-color: #9E9E9E;
  }
}
.most-input-outer-date2 {
  display: block;
  width: 49%;
  height: 50px;
  margin-top: -65px;
  margin-left: 50%;
  ion-select {
    width: 100%;
    font-family: "poppins";
    font-size: 14px;
    // color: ;
    padding: 1px 2px;
    --color: red;
    --placeholder-color: gray;
    // opacity: 100 !important;
    ion-select-option {
      --color: red;
    }
  }
  .round-box {
    width: 100%;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    background: #ffffff;
    filter: drop-shadow(0px 2px 1px rgba(241, 241, 241, 1));

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0 20px;
  }
  .left-icon-box {
    height: 50px;
    width: 25px;
    // background: blue;
    position: relative;
    .licon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 20px;
    }
  }
  .center-input-box {
    height: 50px;
    display: flex;
    width: 100%;
    position: relative;

    .cinput {
      background: transparent;
      border: none;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      left: 0;
    }
    .dinput {
      background: gainsboro;
      border: none;
      width: 75px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      left: 31vh;
    }
  }

  .right-icon-box {
    height: 50px;
    width: 50px;
    position: relative;
    .ricon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 22px;
    }
  }

  .b-header-output {
    display: block;
    width: 100%;
    margin-top: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    // background-color: #004d22;
  }
  .menu-icon-outer h4 {
    color: white;
    margin-top: 10px;
    font-size: 22px;
  }
  .main-menu-img {
    padding: 5px;
  }
  .main-menu-img img {
    padding: 15px;
  }
  .main-menu-img h5 {
    font-weight: 700 !important;
  }
  .b-header-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    // height: 50px;
    justify-content: space-between;
    padding: 16px 16px;
    align-items: center;
    // background-color: #9E9E9E;
  }
}
.most-input-outer-1 {
  display: block;
  width: 20vh;
  height: 50px;
  ion-select {
    width: 100%;
    font-family: "poppins";
    font-size: 14px;
    // color: ;
    padding: 1px 2px;
    --color: red;
    --placeholder-color: gray;
    // opacity: 100 !important;
    ion-select-option {
      --color: red;
    }
  }
  .round-box {
    width: 100%;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    background: #ffffff;
    filter: drop-shadow(0px 2px 1px rgba(241, 241, 241, 1));

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0 20px;
  }
  .left-icon-box {
    height: 50px;
    width: 25px;
    // background: blue;
    position: relative;
    .licon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 20px;
    }
  }
  .center-input-box {
    height: 50px;
    display: flex;
    width: 100%;
    position: relative;

    .cinput {
      background: transparent;
      border: none;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      left: 0;
    }
    .dinput {
      background: gainsboro;
      border: none;
      width: 75px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      left: 31vh;
    }
  }

  .right-icon-box {
    height: 50px;
    width: 50px;
    position: relative;
    .ricon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 22px;
    }
  }

  .b-header-output {
    display: block;
    margin-top: 20px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    // background-color: #004d22;
  }
  .menu-icon-outer h4 {
    color: white;
    margin-top: 10px;
    font-size: 22px;
  }
  .main-menu-img {
    padding: 5px;
  }
  .main-menu-img img {
    padding: 15px;
  }
  .main-menu-img h5 {
    font-weight: 700 !important;
  }
  .b-header-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    // height: 50px;
    justify-content: space-between;
    padding: 16px 16px;
    align-items: center;
    // background-color: #9E9E9E;
  }
}
.most-input-outer-2 {
  display: block;
  width: 20vh;
  height: 50px;
  position: absolute;
  top: 30.2vh;
  left: 205px;
  ion-select {
    width: 100%;
    font-family: "poppins";
    font-size: 14px;
    // color: ;
    padding: 1px 2px;
    --color: red;
    --placeholder-color: gray;
    // opacity: 100 !important;
    ion-select-option {
      --color: red;
    }
  }
  .round-box {
    width: 100%;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    background: #ffffff;
    filter: drop-shadow(0px 2px 1px rgba(241, 241, 241, 1));

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0 20px;
  }
  .left-icon-box {
    height: 50px;
    width: 25px;
    // background: blue;
    position: relative;
    .licon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 20px;
    }
  }
  .center-input-box {
    height: 50px;
    display: flex;
    width: 100%;
    position: relative;

    .cinput {
      background: transparent;
      border: none;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      left: 0;
    }
    .dinput {
      background: gainsboro;
      border: none;
      width: 75px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      left: 31vh;
    }
  }

  .right-icon-box {
    height: 50px;
    width: 50px;
    position: relative;
    .ricon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 22px;
    }
  }

  .b-header-output {
    display: block;
    width: 100%;
    margin-top: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    // background-color: #004d22;
  }
  .menu-icon-outer h4 {
    color: white;
    margin-top: 10px;
    font-size: 22px;
  }
  .main-menu-img {
    padding: 5px;
  }
  .main-menu-img img {
    padding: 15px;
  }
  .main-menu-img h5 {
    font-weight: 700 !important;
  }
  .b-header-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    // height: 50px;
    justify-content: space-between;
    padding: 16px 16px;
    align-items: center;
    // background-color: #9E9E9E;
  }
}
