<div class="b-header-output">
  <div class="b-header-main">
    <div class="menu-icon-outer" (click)="menuToggle()">
      <!-- <img class="menu76" src="assets/images/hamburger.png" /> -->
      <ion-icon name="reorder-four-outline" style="width: 40px; font-size: 28px;"></ion-icon>
    </div>
    <div class="searchbar" *ngIf="users.role_id === 2" (click)="openSC()">
      <div class="search-icon-outer">
        <img class="search-icon" src="assets/svgs/search-icon.svg" />
      </div>

      <div class="title-box">
        <div class="large-title sanseriflf demibold">{{ title }}</div>
        <div class="small-title">{{ subtitle }}</div>
      </div>
    </div>

    <div class="Vender-Header" *ngIf="users.role_id !== 2">
      <p class="sanseriflf demibold iam">I am</p>
      <p class="sanseriflf demibold name">
        {{ users.user?.name }}
      </p>
    </div>

    <div class="bell-icon-outer" (click)="showNotificaitons()">
      <!-- <img src="assets/images/notification.png" height="30" width="30" /> -->
      <ion-icon name="notifications-outline"></ion-icon>
    </div>
  </div>
</div>