.square-image-large {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 15px;
}

.b-header-output {
  display: block;
  width: 100%;
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  // background-color: #004d22;
}

.menu-icon-outer h4 {
  color: white;
  margin-top: 10px;
  font-size: 22px;
}

.main-menu-img {
  padding: 5px;
}

.main-menu-img img {
  padding: 15px;
}

.main-menu-img h5 {
  font-weight: 700 !important;
}

.b-header-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  // height: 50px;
  justify-content: space-between;
  padding: 16px 16px;
  align-items: center;
  // background-color: #9E9E9E;
}

.menu-icon-outer {
  position: relative;
  //   width: 50px;
  // height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .menu76 {
    margin-right: 16px;
  }
}

.shop-icon-outer {
  position: relative;
  //   width: 50px;
  // height: 50px;
  display: block;
  margin-right: 8px;
}

.bell-icon-outer {
  position: relative;
  //   width: 50px;
  // height: 50px;
  display: block;
}

.combined-icons {
  // width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 21px;
}

.ballContainer {
  // width: 100%;
  // height: 100px;
  // background-color: green;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 0 0px;
  // padding-left: 10px;
}

.ball {
  width: 33px;
  height: 33px;
  background-color: #9e9e9e;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.green {
  color: white;
  background-color: green;
}

.white {
  color: green;
  background-color: #f6f5f5;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 16px 0 16px;
}

.heading {
  color: black;
  font-size: 22;
  font-weight: 400;
}

.paragraph {
  color: #9f9f9f;
  font-size: 13px;
}

ul li {
  color: #9f9f9f;
  font-size: 13px;
}

.b-header-main {
  display: flex;
}

.menu-icon-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}
