<!-- <ion-header [hidden]="!isModal">
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start">
          <ion-button style="margin-top: 35px" (click)="closeModal()">
            <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
          </ion-button>
        <h4 style="color: rgba(0, 0, 0, 0.054); margin-top: 45px;" class="sanseriflf demibold">Transactions</h4>

        </ion-buttons>
      </div>
    </div>
  </div>
</ion-header> -->

<ion-header [hidden]="!isModal" class="curve-header">
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start" (click)="closeModal()">
          <ion-button>
            <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h4>Transactions</h4>
      </div>
      <!-- (click)="showNotificaitons()" -->
      <!-- <div class="bell-icon-outer"> 
          <ion-icon name="notifications-outline"></ion-icon>
        </div> -->
    </div>
  </div>
</ion-header>


<ion-card *ngIf="totalAmount != 0">

  <h3>Total Amount</h3>
  <p>${{totalAmount}}</p>
</ion-card>
<ion-content class="ion-padding">

  <div *ngIf="loading" class="loadingcart ion-text-center">
    <ion-spinner></ion-spinner>
    <p>Loading Transactions..</p>
  </div>

  <ion-item *ngIf="!loading && list.length === 0" class="noitemfound">
    <ion-label>
      No Transactions found
    </ion-label>
  </ion-item>

  <!-- <div *ngFor="let item of list" class="tansactionsbox">
    <div><p>Name</p><span>{{item?.receiver?.name}}</span></div>
    <div><p>Date</p><span>{{item.created_at | date: 'shortDate' }}</span></div>
    <div><p>Payment</p><span>${{ item?.amount}}</span></div>
    <div><p>Status</p><span>Pending</span></div>
    <div><p>Details</p><span></span></div>
  </div> -->

  <div class="header-row-254646" *ngIf="list.length != 0">
    <div class="p-item-687 medium"> Name </div>
    <div class="p-item-687 medium"> Date </div>
    <div class="p-item-687 medium"> Payment </div>
    <div class="p-item-687 medium"> Status </div>
    <div class="p-item-687 medium"> Details </div>
  </div>

  <div class="header-row-254646 bg-w-698675" *ngFor="let item of list">
    <div class="p-item-687 medium"> {{item?.receiver?.name}} </div>
    <div class="p-item-687 medium"> {{item.created_at | date: 'shortDate' }} </div>
    <div class="p-item-687 medium"> ${{ item?.amount}} </div>
    <div class="p-item-687 medium"> Pending </div>
    <!-- <div class="p-item-687 medium">
      <img src="assets/svgs/dot-round.svg" />
    </div> -->
  </div>



  <!-- <div class="b-button-outer">
    <ion-button
    [disabled]="loading"
    class="cancel_button"
    shape="round"
    expand="block"
    (click)="cancel()"
  >
    <span >Back</span>
  </ion-button> -->
  <!-- </div> -->

</ion-content>