.page-switcher {
  height: 74px;
  width: 100%;
  background: transparent;
  position: fixed;
  bottom: 10px;
  left: 0;
  z-index: 5;
}

.hideswitcher {
  // margin-bottom: -300px;
}
// .ionic-content {
//   --offset-bottom: 0 !important;
// }
.bottom-offset {
  // height: calc(100vh - 150px) 
  // --offset-bottom: 100% !important;
    // margin-bottom: 500px;
    // min-height: calc(100vh - 260px);
}