// .datePickerContainer{
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    padding: 0;
//    margin: 0;
     
// //    opacity: 0.2;
// }
.calender{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 160px;
    border-radius: 15px;
    --background: #ffffff;


    // border-radius: 16px;
}