<!-- <ion-header>
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()">
            <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h4 style="color: black;" class="sanseriflf demibold">cart</h4>
      </div>
      <img src="assets/images/notification.png" />
    </div>
    <div class="main-icon-outer"></div>
  </div>
</ion-header> -->

<ion-header class="curve-header" style="background: #f7f7f7;">
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start" (click)="closeModal()">
          <ion-button>
            <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h4>Cart</h4>
      </div>
      <!-- (click)="showNotificaitons()" -->
      <!-- <div class="bell-icon-outer"> 
          <ion-icon name="notifications-outline"></ion-icon>
        </div> -->
    </div>
  </div>
</ion-header>


<ion-content>

  <ion-item lines="none" class="noitemfound" *ngIf="cartServ.net_total == 0">
    <ion-label> Your cart is empty </ion-label>
    <ion-button slot="end" fill="clear"></ion-button>
  </ion-item>

  <app-cart-list-item *ngIf="cartServ.net_total != 0"></app-cart-list-item>
  <div class="bn765" *ngIf="cartServ.net_total != 0">
    <div class="checkout-outer">
      <div class="apply-code-main">
        <div class="apply-code">
          <ion-item class="input">
            <ion-input placeholder="Add promo code"></ion-input>
          </ion-item>
          <ion-buttons slot="start">
            <ion-button class="button"> APPLY CODE </ion-button>
          </ion-buttons>
        </div>
      </div>
    </div>
    <div class="checkout">
      <div class="checkout-price-main">
        <h1>Payment</h1>
        <div class="paymentContainer">
          <div class="payment">
            <span class="paymentKey sanseriflf demibold">PRICE</span>
            <span class="paymenyValue sanseriflf demibold">$ {{cartServ.total | number: '1.0'}}</span>
          </div>
          <div class="payment">
            <span class="paymentKey sanseriflf demibold">FEES</span>
            <span class="paymenyValue">$ {{ cartServ.net_total - cartServ.total | number: '1.0'}}</span>
          </div>

          <div class="payment">
            <span class="paymentKey sanseriflf demibold">TOTAL</span>
            <span class="paymenyValue">$ {{cartServ.net_total | number: '1.0'}} </span>
          </div>

        </div>

        <ion-button (click)="openCheckout()" [disabled]="cartServ.net_total === 0" shape="round" color="primary"
          expand="block" class="checkout-button"> CHECKOUT </ion-button>
      </div>
    </div>
  </div>
  <!-- <div style="height: 100%; width: 100%; overflow: hidden;"> -->
  <!-- <app-home-switcher></app-home-switcher> -->
  <!-- </div> -->

</ion-content>